
.card-container{
  display: inline-block;
  position: relative;

  width: $card-width;
  height: auto;  

  margin: 0rem 0.5rem;
  margin-left: -1rem;
}

.card-container + .card-container{
    margin-left: -8.5rem;
    transition-delay: 0.3s;
}

.card{
  position: absolute;

  width: $card-width;
  height: auto;

  transition: top 0.3s ease-in, opacity 0.1s ease-in;

  @include rounded(0.5rem);
  @extend .box-shadow-light; 
}

// Animations

.card-appear {
  opacity: 0.01;
  top: -40rem;

  position: absolute;
}

.card-appear.card-appear-active {
  top: 0rem;

  position: absolute;
  opacity: 1;
}

// .draw-enter {
//   opacity: 0.01;
// }

// .draw-enter.draw-enter-active {
//   opacity: 1;
// }

// .draw-leave {
//   opacity: 1;
// }

// .draw-leave.draw-leave-active {
//   opacity: 0.01;
// }