

.card{
  width: 10rem;
  height: auto;
  margin: 0rem 0.5rem;
  margin-left: -1rem;

  @include rounded(0.5rem);
  @include box-shadow(0rem, 0.2rem, 0.5rem, rgba(29, 29, 29, 0.17));
}

.card + .card{
  margin-left: -8.5rem;
}

