.table{

  // Camera angle
  transform: rotateX($camera-angle);

  width: $layout-max-width;  
  height: $layout-max-height;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -($layout-max-height / 2);
  margin-left: -($layout-max-height / 2);


}
