.controls{

  bottom: 0rem;
  border-top-width: $masthead-border-width;

  @extend .masthead-base;
}

.controls-container{

  @extend .wrapper, .text-center;

  button{

    position: relative;
    height: $masthead-height;
    margin: 0 1.5rem;

    @extend .font-regular, .font-size-regular, .anim-see-me;

    &:disabled{
      animation: none;
    }

  }

}

.shortcut-key{
  opacity: 0.9;

  @extend .font-size-small;
}

// Animations

@keyframes see-me{
  0%{
   text-shadow: 0rem 0rem 0rem rgba(205,190,145,0.5);
  }

  50%{
     text-shadow: 0rem 0rem 1rem rgba(205,190,145,1);
  }

  100%{
     text-shadow: 0rem 0rem 0rem rgba(205,190,145,0.5);
  }
}

.anim-see-me{
  animation: see-me 1s ease-in-out infinite;
}