
@font-face {
  font-family: 'Rio Grande';
  src: url('RioGrande.eot');
  src: local('☺'), url('RioGrande.woff') format('woff'), url('RioGrande.ttf') format('truetype'), url('RioGrande.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
