.font-heading{
  font-family: 'Rio Grande', serif;
}

.font-regular{
  font-family: 'Bree Serif', serif;
}

.font-size-regular{
  font-size: 1.5rem;
}

.font-size-medium{
  font-size: 3rem;
}

.font-size-large{
  font-size: 3.5rem;
}

.font-weight-regular{
  font-weight: 400;
}

.font-weight-bold{
  font-weight: 800;
}

.text-center{
  text-align: center;
}

.wrapper{
  width: $layout-max-width;
  margin: 0 auto;
}