/**
VARIABLES
**/



// Theme
$canvas: #265c33;
$table-texture: url('../../public/theme/board.jpg');

// Camera
$camera-distance: 60rem;
$camera-angle: 20deg;

// Layout
$layout-max-width: 40rem;
$layout-max-height: 40rem;