/**
VARIABLES
**/



// Theme
$canvas: #265c33;
$table-texture: url('../../public/theme/board.jpg');
$table-texture-print-color: rgba(253, 216, 53, 0.25);

// Camera
$camera-distance: 60rem;
$camera-angle: 20deg;

// Layout
$layout-max-width: 40rem;
$layout-max-height: 40rem;