

.hand{
  display: inline-block;
  position: absolute;
  width: 22rem;
  height: 22rem;
  white-space: nowrap;
}


.hand-name{
  position: absolute;
  width: $table-status-size;
  @extend .font-size-regular, .text-center, .uppercase; 
}


.hand-score{
  display: block;
  position: fixed;

  border: 0.3rem solid;

  line-height:  $table-score-size * 0.8;
  width: $table-score-size;
  height: $table-score-size;

  @extend .font-size-medium, .font-weight-bold, .text-center;
  @include rounded(50%);

}

.hand-status{
  position: absolute;
  width: $table-status-size;
  @extend .font-size-regular, .text-center, .uppercase; 
}

.hand[data-name="dealer"]{
  right: -5rem;
  top: 0rem;
  transform: rotateZ(20deg);
}

.hand[data-name="player"]{
  padding-top: 2.5rem;
  bottom: 1rem;
  left: 6rem;
  transform: rotateZ(-5deg);
  border: 1rem solid $table-texture-print-color;

  @include rounded(50%);
}

.hand[data-name="dealer"] .hand-name{
  top: -1.5rem;
}

.hand[data-name="player"] .hand-name{
  top: 1rem;
  left: 4.6rem;
}

.hand[data-name="dealer"] .hand-score{
  left: -7.5rem;
  top: 4.7rem;
}

.hand[data-name="player"] .hand-score{
  left: -7.5rem;
  top: 7rem;
}

.hand[data-name="dealer"] .hand-status{
  top: 10.5rem;
  left: -10.2rem;
}

.hand[data-name="player"] .hand-status{
  top: 13rem;
  left: -10.1rem;
}

